@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-crimson: var(--font-crimson-pro);
  --font-zhi-mang: var(--font-zhi-mang-xing);
  --font-sans: var(--font-crimson-pro);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-crimson-pro), serif;
}